body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50;
}

header {
     align-items: center;
     background-color: gray;
     color: black;
     padding: 10;
}

section{
    flex: 45%;
    background: fixed;
    border-radius: 10px;
    padding: 1.5px;
}

footer{
    text-align: center;
    color: grey;
    padding: 1px;
    margin-top: auto;
}

main{
    flex-wrap: wrap;
    justify-content: center;
    padding: 2px;
}

